/* extended list */
%size-extend {
    font-size: 12px;
}
.info {
    @extend %size-extend;
}
.success {
    color: #00FF00;
    @extend %size-extend;
}
.warning {
    color: #FF0000;
    @extend %size-extend;
}
